build
install
.test/
README.html
__cmake_systeminformation

# Editor/IDE files
*~
*.bck
*.bak
.idea
.vs

# Python files
*.pyc
__pycache__
.noseids
.tox
.python-version

# setup.py files
.eggs
*.egg-info
dist
